{% extends 'blog/base.html'%}

{%block title%} View blog {%endblock%}

{% block customcss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/commentSection.css' %}">
{% endblock customcss %}

{% block body %}

    {% load humanize %}
    {% load static %}
    {% load extras %}

    {% if user.is_authenticated %}
    <p class= "mt-3">This is the view blog page of {{user.username}}</p>
    {% endif %}

    <div class="border border-light bg-light py-3 px-1 mb-3">
        <strong class= "h4">{{blog.title}}</strong>
        <h5 class="font-weight-light mt-2"> {{blog.description|linebreaksbr}}</h5>
        <h6 class="font-weight-light mt-2"> By: {{blog.user}} </h6>
    </div>


    <!-- Default delete blog post form -->
    {% if user.is_authenticated and user == blog.user %}

    <form action="{% url 'deleteBlog' blog.pk %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-danger btn-block my-4 col-md-2" type="submit">Delete blog</button>
    </form>
    {% endif %}


    {% if user.is_authenticated and user == blog.user %}
    <!-- Default edit blog post form -->
    <h3 class='font-weight-lighter mb-5'>Edit your blog here</h3>
    <form method="POST">
        {% csrf_token %}

        <!-- Title -->
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input type="text" name= "title" value= "{{blog.title}}" class="form-control" id="title" placeholder="Title" required>
            </div>
        </div>
        <div class="form-group row my-4">
            <label for="desc" class= "col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea name= "description" class="form-control" id="desc" rows="3" placeholder= "Description">{{blog.description}}</textarea>
            </div>
        </div>

        <!-- Edit button -->
        <button class="btn btn-info btn-block my-4 col-md-2 offset-md-5" type="submit">Edit blog</button>

    </form>

    {% endif %}

    {% if user.is_authenticated%}
    <!-- Default post comment form -->
        <form action= "{% url 'postComment'%}" method= "POST">
        {% csrf_token %}
            <div class="form-group row">
                <label for="comment" class="col-md-12 col-form-label">Post a Comment</label>
                <div class="col-md-6">
                    <input type="hidden" name= "commentBlogID" value= "{{blog.pk}}">
                    <input type="hidden" name= "commentParent" value= "">
                    <input type="text" name= "comment" class="form-control" id="comment" placeholder="Your comment" required>
                </div>
            </div>
            <!-- Post a comment button -->
            <button type="submit" class="btn btn-primary btn-sm mb-3">Comment</button>
        </form>
    {% else %}
        <div class="form-group row">
            <h4 class="col-sm-12 font-weight-lighter">Please login to post a comment</h4>
        </div>
    {% endif %}

    <!-- Default display posted comments section -->
    <h3 class='font-weight-lighter'>Comments ({{blogComments.count}})</h3>
    <div class="mb-5 mt-3">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                    {% if blogComments.count %}
                        {% for comment in blogComments %}
                        <div class="media mt-3"> <img class="mr-3 rounded-circle" alt="Bootstrap Media Preview" src="{% static 'blog/img/user.png'%}">
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-8 d-flex">
                                        <h5>{{ comment.user }}</h5> <span>- {{comment.dateCreated|naturaltime}}</span>
                                    </div>
                                    
                                </div>
                                {{comment.description}}
                                {% for reply in commentToReplies|getReplies:comment.pk %}
                                <div class="media mt-4"><img class="mr-3 rounded-circle" alt="User_image" src="{% static 'blog/img/user.png'%}">
                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-12 d-flex">
                                                <h5>{{reply.user}}</h5> <span>- {{reply.dateCreated|naturaltime}}</span>
                                            </div>
                                        </div>
                                        {{reply.description}}
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>

                    <!-- Default post reply form -->
                    {% if user.is_authenticated %}
                    <div>
                        <a data-toggle="collapse" href="#replyLink{{comment.pk}}" aria-expanded="false" aria-controls="replyLink{{comment.pk}}">
                           <span><i class="fa fa-reply"></i> Reply</span>
                        </a>
                        <div class="collapse mt-2" id="replyLink{{comment.pk}}">
                            <form action= "{% url 'postComment'%}" method= "POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="border border-light col-md-6">
                                    <input type="hidden" name= "commentBlogID" value= "{{blog.pk}}">
                                    <input type="hidden" name= "commentParent" value= "{{comment.pk}}">
                                    <input type="text" name= "comment" class="form-control" placeholder="Your reply" required>
                                </div>
                                <!-- Post a reply button -->
                                <div class= "col-md-1 p-0 my-1">
                                    <button type="submit" class="btn btn-primary btn-sm">Reply</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                    {% endif %}



                        {% endfor %}
                    {% else %}
                        No comments to show
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}